body {
  margin: 0;
  background-color: black;
}

.wrapper {
    width: 990px;
    height: 9015px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapper2 {
    width: 990px;
    height: 7000px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapperindexfail {
    width: 990px;
    height: 2800px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapper4 {
    width: 990px;
    height: 8400px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapperindexfail {
    width: 990px;
    height: 2800px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapperindexfail2 {
    width: 990px;
    height: 2800px;
    border: 5px solid black;
    margin: 0 auto;
}

.wrapperindexfail3 {
    width: 990px;
    height: 2800px;
    border: 5px solid black;
    margin: 0 auto;
}

.cover {
    position: relative;
}

.cover2 {
    position: relative;
}

#halaman1 {
    position: relative;
}

#halaman2 {
    position: relative;
}

#halaman3 {
    position: relative;
}

#halaman4 {
    position: relative;
}

#halaman5 {
    position: relative;
}

#halaman5 {
    position: relative;
}

#halaman5 img {
    display: block;
}

#halaman5a {
    position: absolute;
    top: 50%;
    left: 7%;
    z-index: 3;
}

#halaman5b {
    position: absolute;
    top: 55%;
    right: 7%;
    z-index: 3;
}

#halaman6 {
    position: relative;
}

#halaman7 {
    position: relative;
}

#halaman7 img {
    display: block;
}

#kembali1 {
    position: absolute;
    top: 80%;
    right: 1%;
    z-index: 3;
}

#halaman8 {
    position: relative;
}

#halaman9 {
    position: relative;
}

#halaman10 {
    position: relative;
}

#halaman11 {
    position: relative;
}

#halaman12 {
    position: relative;
}

#halaman12 img {
    display: block;
}

#halaman12a {
    position: absolute;
    top: 72%;
    left: 3%;
    z-index: 3;
}

#halaman12b {
    position: absolute;
    top: 72%;
    right: 3%;
    z-index: 3;
}

#halaman13 {
    position: relative;
}

#halaman14 {
    position: relative;
}

#halaman14 img {
    display: block;
}

#kembali2 {
    position: absolute;
    top: 80%;
    right: 1%;
    z-index: 5;
}

#halaman15 {
    position: relative;
}

#halaman16 {
    position: relative;
}

#halaman17 {
    position: relative;
}

#halaman18 {
    position: relative;
}

#halaman19 {
    position: relative;
}

#halaman20 {
    position: relative;
}

#halaman20 img {
    display: block;
}

#halaman20a {
    position: absolute;
    top: 75%;
    right: 6%;
    z-index: 3;
}

#halaman20b {
    position: absolute;
    top: 75%;
    left: 6%;
    z-index: 3;
}

#halaman21 {
    position: relative;
}

#halaman22 {
    position: relative;
}

#halaman22 img {
    display: block;
}

#kembali3 {
    position: absolute;
    top: 80%;
    right: 1%;
    z-index: 8;
}

#halaman23 {
    position: relative;
}

#halaman24 {
    position: relative;
}

#halaman25 {
    position: relative;
}

#halaman26 {
    position: relative;
}

#halaman27 {
    position: relative;
}

#penutup {
    position: relative;
}

#penutup img {
    display: block;
}

#penutup ol {
  position: absolute;
  top: 40%;
  right: 20%;
  left: 20%;
  z-index: 5;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}